/***** NAVBAR *****/

.navbar {
    background-color: #12086F;
    border-radius: 0;
}

/* Navbar title */
.navbar-default .navbar-brand {
    color: white;
    font-size: px;
    font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #4895EF;
    text-decoration: none;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
    padding: 10px;
}

/* Navbar collapsed styles */
.navbar-toggler {
    color: #fff;
    border-color: #fff;
    background-color: #12086F;
    border-radius: 4px;
    border: 1px solid;
    fill: #fff;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: #4895EF;
    color: #242424;
    fill: #242424;
    border-color: #fff;

}

/*** JUMBOTRON ***/

.jumbotron {
    /*background-image: url("../assets/contour-lines.png")*/
    text-align: center;
    color: #2B35AF;
    padding: 3%;
    border-radius: 0px;
}

.jumbotron h2 {
    font-size: 38px;
    font-weight: bold;
}

.img-responsive{
    width:100%;
}

/*** CARD ***/

.card {
    background-color: #4361EE;
    border-color: #4361EE;
    border-width: 1.5px;
    width: 100%;
}

.card:hover {
    border-color: #4895EF;
}

/*** Basic Text Styles ***/

#about-world {
    max-width: 100%;
}

.resume h3 {
    font-weight: bold;
}


hr {
    border-color: white;
    border-width: 2px;
}

p {
    font-size: 20px;
}

a {
    color: #863ee3;
}

a:hover {
    color: #4895EF;
}

.container{
    padding:25px 0;
}

body {

    font-family: 'Georgia', serif; 
    background-color: #f7f1fa;
    color: #242424;
} /*** I actually like this font, not trying to be unoriginal**/